  <h1>Create Yourself!</h1>

  <form action="/create_user" id="create_user" method="POST">
  Full Name: <input type="text" name="fullname"><br>
  <br>
  Email: <input type="email" name="email"><br>
  <br>
  Password: <input type="password" name="password"><br>
  <br>
  Password confirmation: <input type="password" name="password_confirmation"><br>

  <input type="submit" value="Create!"> 
</form>
