<div class="container">
  <h1>Bitly Copycat</h1>
  <p>Give me your link, I'll make it magical!</p>

  <form action="/urls" id="create_link" method="POST"> 
    Enter link here: <input type="url" name="link[original_link]" value="enter it here!"><br>
    <input type="submit" value="DO IT!">
  </form> 
</div>





<!-- 
<form action="/create_post/<%=params[:id]%> " id="create_form" method="POST">
  Name: <input type="text" name="post[name]" value="<%= @post.try(:name)%>"><br>
  Location: <input type="text" name="post[location]" value="<%= @post.try(:location)%>"><br>
  Price: <input type="integer" name="post[price]" value="<%=@post.try(:price)%>"><br>
  

  <input type="submit">
 -->
