<h1>Users, Login Here! </h1>

  <form action="/login" id="login_prompt" method="POST">
  Email: <input type="email" name="email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Login!"> 
</form>
